body{
    background-image: url("images/1600w-_Tcjok-d9b4.jpeg");
    font-family: Roboto Mono;
}

body::selection{
    background-color: floralwhite;
}

#stopwatch{
    font-size: 100px;
   padding: 0px;

}

h2{
    margin: 0px;
    margin-top: 100px;
}

button:hover{
    background-color: black;
    color:white;
}
button{
    width: 150px;
    height: 50px;
    margin: 20px;
    margin-top: 50px;
    border-radius: 50px;
    transition: 0.5s;
}
#header{
padding-top: 70px;
}